.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  
    color: #fff;
    text-shadow: -1px -1px 0 #000,1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
    opacity: 1; 
    transition: opacity 0.3s ease-in-out;
   
  }
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease-in-out; 
  }
  
  .fixed-header.hidden {
    opacity: 0; 
  }
  .nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 5px;
    justify-content: flex-end; /* Allinea gli elementi a destra */
  }
  
  .nav-list li {
    margin-left: 20px; /* Spaziatura a sinistra tra gli elementi */
  }
  
  .nav-list li:first-child {
    margin-left: auto; /* Allinea il primo elemento a sinistra */
  }
  
  .nav-list a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-list a:hover {
    color: #ff9900;
  }