
@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 300vh;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  font-size: 20px;  
  overflow-x: hidden;
}
#informazioni_personali {
  display: flex; 
  align-items: center; 
  
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

#informazioni_personali img {
  max-width: 300px;
  margin-right: 20px; 
  border-radius: 20%;
}

#competenze {
  flex-direction: column;
}
#competenze h1 {
  text-align: center;
  margin-top: 0px;
}

content section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2pt;
  color: #fff;
}

nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
nav ul {
  list-style: none;
}
nav ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 1pt;
  font-size: 2em;
  color: #09203f;
  animation: fadeDown 0.5s forwards;
  opacity: 0;
  cursor: pointer;
  transform: translateY(-20px);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
nav ul li:hover {
  text-shadow: 2px 1px 40px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
nav ul li:nth-child(1) {
  animation-delay: 0.8s;
}
nav ul li:nth-child(2) {
  animation-delay: 0.9s;
}
nav ul li:nth-child(3) {
  animation-delay: 1s;
}
nav ul li:nth-child(4) {
  animation-delay: 1.1s;
}
nav ul li:nth-child(5) {
  animation-delay: 1.2s;
}
nav ul li:nth-child(6) {
  animation-delay: 1.3s;
}
nav #nav-close {
  position: fixed;
  top: 40px;
  right: 40px;
  font-size: 1.5em;
  cursor: pointer;
  animation: fadeDown 0.5s forwards;
  animation-delay: 1.1s;
  opacity: 0;
  color: #09203f;
  transform: translateY(-20px);
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#video-container {
  display: none;
}
section #mani{
  display: flex; 
  flex-direction: column;
}
.python-button {
  font-family:"Montserrat", "sans-serif";
  background-color: transparent;
  color: white; 
  padding: 10px 20px; 
  border: 3px;
  border-color: white;
  border-radius: 5px;
  position: relative;
}