#position-indicator {
    text-align: center;
    margin-top: 10px;
  }
#esperienze {
    display: flex;
    overflow: hidden; 
    flex-direction: column;
  }
.experience-carousel{
    transition: transform 2s ease-in-out; 
    margin-top: 10px;
    background-color: cornflowerblue;
    border-radius: 10%;
  }
.position-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
.position-dot.active {
    background-color: #007bff;
  }